<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/css/papaya.css" />
        <script type="text/javascript" src="static/js/papaya.js"></script>
            <script type="text/javascript">
                var params = [];
                papaya.Container.showImage(index, imageIndex)
                document.querySelector('.papaya-menu-titlebar').innerText = 'Interactive';

            </script>
            <style>
                body{
                    min-width: 700px;
                }
            </style>
        </head>

<body>
    <div class="papaya" data-params="params"></div>
</body>
</html>
